{% extends '_base.html' %}
{% load static %}
{% block title %}
KitabSala - Homepage
{% endblock %}
<!-- style="width: 18rem;" -->
{% block content %}



<div class="container">
    <div class="books">
        <div class="head d-flex justify-content-between align-items-baseline  p-3">
            <h2 class="">Bestsellers</h2>
            <p class="">VIEW ALL</p>
        </div>
    
    <div class="row gx-3">
        <div class="col">
            <div class="p-3">   
                    <div class="" style="width:12rem;" >
                        <img src="https://s3-us-west-2.amazonaws.com/youexec-resources-up/tgr-think-and-grow-rich-by-napoleon-hill-header.jpg"
                            class="card-img-top" alt="..." data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
                        <div>
                            <h5 class="card-title">Book title</h5>
                            <p class="card-text">by John Doe</p>
                            <p class="card-text price">NRS 600</p>
                        
                        </div>
                    
                        <a href="#" class="btn card-btn">Add To Cart</a>
                    </div>
            
            </div>
        </div>

        <div class="col">
            <div class="p-3">
                <div class="" style="width:12rem;">
                    <img src="https://s3-us-west-2.amazonaws.com/youexec-resources-up/tgr-think-and-grow-rich-by-napoleon-hill-header.jpg"
                        class="card-img-top" alt="...">
                    <div>
                        <h5 class="card-title">Book title</h5>
                        <p class="card-text">by John Doe</p>
                        <p class="card-text price">NRS 600</p>
        
                    </div>
        
                    <a href="#" class="btn card-btn">Add To Cart</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="p-3">
                <div class="" style="width:12rem;">
                    <img src="https://s3-us-west-2.amazonaws.com/youexec-resources-up/tgr-think-and-grow-rich-by-napoleon-hill-header.jpg"
                        class="card-img-top" alt="...">
                    <div>
                        <h5 class="card-title">Book title</h5>
                        <p class="card-text">by John Doe</p>
                        <p class="card-text price">NRS 600</p>
        
                    </div>
        
                    <a href="#" class="btn card-btn">Add To Cart</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="p-3"  >
                <div class="" style="width:12rem;" >
                    <img src="https://s3-us-west-2.amazonaws.com/youexec-resources-up/tgr-think-and-grow-rich-by-napoleon-hill-header.jpg"
                        class="card-img-top" alt="...">
                    <div>
                        <h5 class="card-title">Book title</h5>
                        <p class="card-text">by John Doe</p>
                        <p class="card-text price">NRS 600</p>
        
                    </div>
        
                    <a href="#" class="btn card-btn">Add To Cart</a>
                </div>
            </div>
        </div>

        
</div>
</div>

<div class="books">
<div class="head d-flex justify-content-between align-items-baseline p-3">
    <h2 class="">New Arrival</h2>
    <p class="">VIEW ALL</p>
</div>
<div class="row gx-3">
    <div class="col">
        <div class="p-3">
            <div class="" style="width:12rem;">
                <img src="https://s3-us-west-2.amazonaws.com/youexec-resources-up/tgr-think-and-grow-rich-by-napoleon-hill-header.jpg"
                    class="card-img-top" alt="..." data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Tooltip on top">
                <div>
                    <h5 class="card-title">Book title</h5>
                    <p class="card-text">by John Doe</p>
                    <p class="card-text price">NRS 600</p>

                </div>

                <a href="#" class="btn card-btn">Add To Cart</a>
            </div>

        </div>
    </div>

    <div class="col">
        <div class="p-3">
            <div class="" style="width:12rem;">
                <img src="https://s3-us-west-2.amazonaws.com/youexec-resources-up/tgr-think-and-grow-rich-by-napoleon-hill-header.jpg"
                    class="card-img-top" alt="...">
                <div>
                    <h5 class="card-title">Book title</h5>
                    <p class="card-text">by John Doe</p>
                    <p class="card-text price">NRS 600</p>

                </div>

                <a href="#" class="btn card-btn">Add To Cart</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="p-3">
            <div class="" style="width:12rem;">
                <img src="https://s3-us-west-2.amazonaws.com/youexec-resources-up/tgr-think-and-grow-rich-by-napoleon-hill-header.jpg"
                    class="card-img-top" alt="...">
                <div>
                    <h5 class="card-title">Book title</h5>
                    <p class="card-text">by John Doe</p>
                    <p class="card-text price">NRS 600</p>

                </div>

                <a href="#" class="btn card-btn">Add To Cart</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="p-3">
            <div class="" style="width:12rem;">
                <img src="https://s3-us-west-2.amazonaws.com/youexec-resources-up/tgr-think-and-grow-rich-by-napoleon-hill-header.jpg"
                    class="card-img-top" alt="...">
                <div>
                    <h5 class="card-title">Book title</h5>
                    <p class="card-text">by John Doe</p>
                    <p class="card-text price">NRS 600</p>

                </div>

                <a href="#" class="btn card-btn">Add To Cart</a>
            </div>
        </div>
    </div>

</div>
</div>
</div>
<div class=" footer m-0">
    <div class=" container ">
    <div class="row gx-5 ">
        <div class="col-12 col-md-6">
            <div class="wrap">
            <h3 class="footer-title">ABOUT KITABSHALA</h3>
            <p class="footer-text">
                Kitabshala is an online bookstore, physically based in Pokhara, Nepal, with an aim to create the largest community of
                book readers in Nepal.News and events At Kitabshala, you can browse and buy books online at the lowest everyday
                prices.
            </p>
            </div>
        </div>
        <div class="col-4 col-md-3 col-sm-6">
            <div class="wrap">
                <h3 class="footer-title">QUICK LINKS</h3>
                <ul class="footer-nav">
                    <li><a href="#">Best Sellers</a></li>
                    <li><a href="#">New Arrivals</a></li>
                    <li><a href="#">Used Books</a></li>
                    
                </ul>
            </div>
        </div>
        
        <div class="col-12 col-sm-6 col-md-3">
            <div class="wrap">
                <h3 class="footer-title">OTHERS</h3>
                <ul class="footer-nav">
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Career</a></li>
                </ul>
            </div>
        </div>
        </div>

        
            <hr class="dropdown-divider">
            <div class="d-flex justify-content-center p-3">
                <p class="text-white social-text">Connect With Us:</p>
           
            <div class="d-flex justify-content-evenly align-items-baseline mt-2 ms-2">
                <div class="img px-1">
                    <img src="{% static 'images/facebook.png'%}" alt="" width="24px" height="24px">
                </div>
                <div class="img px-1">
                    <img src="{% static 'images/tik-tok.png'%}" alt="" width="24px" height="24px">
                </div>
                <div class="img px-1">
                    <img src="{% static 'images/instagram.png'%}" alt="" width="24px" height="24px">
                </div>
                <div class="img px-1">
                    <img src="{% static 'images/youtube.png'%}" alt="" width="24px" height="24px">
                </div>
                <div class="img px-1">
                    <img src="{% static 'images/twitter.png'%}" alt="" width="24px" height="24px">
                </div>
            </div>
            </div>
            <hr class="dropdown-divider">
            
            <div class="d-flex justify-content-between wrap">
                <div>
                    <h5 class="footer-title">KITABSHALA</h5>
                    <p class="text-white">Stay Curious!</p>
                </div>

                <div class="align-self-end">
                    <h5 class="footer-title">PHYSICAL STORE:</h5>
                    <p class="footer-text">
                    Kitabshala, Jamal, Kathmandu <br>
                    contact@kitabashala.com <br>
                    kitabshala@gmail.com <br>
                    +977-1231234567
                    </p>
                </div>

            </div>
    </div>
</div>

{% endblock %}