{% extends '_base.html' %}

{% block title%}Kitabshala - Detail {% endblock %}

{% block content %}
<div>
    <div class="container p-3">
        <div class="row">
            <div class="col-md-3">
                <div class="book-image-container"><img src="{{ kitab.cover.url }}"
                        alt="Veronika decides to die" class="img-fluid cover-pic" style="width:150px;height:225px;object-fit: cover;" ></div>
                <div class="book-tags"></div>
                
            </div>
            <div class="col-md-6 col-12">
                <h4 class="book-title">{{ kitab.title }}</h4>
                <h5 class="book-author">
                    <p class="card-text">
                by {% for author in kitab.authors.all %} {{ author.full_name }},
                {% endfor %}
              </p>
            </h5>
            <br>
                <div class="book-description-new m-0">
                    <h5 class="mt-0 mb-3">Synopsis</h5>
                    <p class="text-justify">
                    <div>
                        <!-- <p>V ...</p> <span><a href="#" id="readmore">Read more</a> <a
                                href="#" id="readmore" style="display: none;">Read less</a></span> -->
                                <p>
                                    {{ kitab.synapsis }}
                                </p>
                    </div>
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-12 col-pull-12">
                <div class=" d-flex align-items-center flex-column">
                    <h4 class="price">NRS.{{ kitab.price }}</h4>
                    <hr><hr>
                    <p class="shipping-status pt-2 mb-3"> Delivery to most major cities inside Nepal
                    </p>
                    
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}